::-webkit-input-placeholder { /* Para navegadores baseados em Webkit, como o Chrome e o Safari */
    color: #0A3871;
}
:-moz-placeholder { /* Para o Firefox */
    color: #0A3871;
    opacity: 1;
}
::-moz-placeholder { /* Para o Firefox */
    color: #0A3871;
    opacity: 1;
}
:-ms-input-placeholder { /* Para o Internet Explorer e o Edge */
    color: #0A3871;
}


@media only screen and (max-width: 767px) {
  
  
  
    *{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: #E5E5E5;
    height: 100%;
    margin: 0;
}

.caixa{
    display: flex;
    flex-direction: column;
}

.container1>.logo>img {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.digiteTexto{
    margin-top: 25%;
    margin-left: 3%;
    align-items: center;
    justify-content:center;
    
}

.digiteTexto>form>input{
    margin-bottom: 15%;
    border: none;
    background-color: #E5E5E5;
    font-size: 24px;
    font-weight: 400;
    color: #0A3871;
}

span{
    font-size: 12px;
}

span>img{
    width: 10px;
}


.botoes{
    gap: 10px;
    margin-top: 10px;
    margin-left: 10%;
    
}


#one{
    width: 200px;
    height: 30px;
    
}

#one:hover {
    background: #035fcf;
}

#two{
    
    width: 200px;
    height: 30px;
}

#two:hover {
    background: #a9c4e6;
}

#foto{
    display: none;
}


.apareceTexto{

    display: inline;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.container2>h2{
    text-align: center;
}

#text-cripto{
    padding: 2rem;
    color: #0A3871;
    font-size: 35px;
    resize: none;
    border: none;
    width: 15em;
    height: 100%;
    background: #F3F5FC;
    outline: 0;
    display: none;
    border-radius: 30px;
}

#copiar{
    display: none;
}

#copiar:hover {
    background: #035fcf;
}
 
footer{
    display: none;
}

}


@media only screen and (max-width: 479px) {

  .caixa{
      display:flex;
      flex-direction: column;
      align-items: center;
  }

  footer{
    display: none;
}

.botoes{
  flex-direction: column;
}

#one{
  width: 400px;
  height: 50px;
}

#two{
  width: 400px;
  height: 50px;
}

.digiteTexto{
    margin-left: 0;
    margin-right: 50px;
}

.apareceTexto{
    width: 100%;
    margin-top: 20px;
}
}

 
@media only screen and (max-width: 1023px) {
.container2>#foto{
    display: none;
}

.container1>.logo>img {
left: 0;
}


#foto{
    display: none;
}


.apareceTexto{

    display: inline;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.container2>h2{
    text-align: center;
}

#copiar{
    display: none;
}

#copiar:hover {
    background: #035fcf;
}


.caixa{
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: 5px;
    border: none;
}

footer>.rodape>h1{
    display: none;
}
}
